:root {
    --brand-color: #4D5AE5;
    --main-text-color: #2E2F42;
    --descr-text-color: #434455;
    --bgrd-color: #F4F4FD;
    --light-text-color: #ffffff;
    --btn-hover-color: #404BBF;
    --footer-text-color: #E7E9FC;
    --border-customer-color: #8E8F99;
    --backdrop-background: #FCFCFC;

    --card-set-gap: 24px;

    --transition-time: 250ms;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    min-width: 320px;
    max-width: 428px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1158px;
    }
}

/* index.html */

/* HEADER */

header{
    display: flex;
    border-bottom: 2px solid rgba(46, 47, 66, 0.08);
}

.logo{
    font-family: 'Raleway', sans-serif;
    color: inherit;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;

    margin-right: 77px;
    padding-top: var(--card-set-gap);
    padding-bottom: var(--card-set-gap);
}

@media screen and (max-width: 767px) {
    .logo {
        margin-right: auto;
    }
}

.logo-span {
    color: var(--brand-color);
}

header>div {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
}

.header-list {
    display: flex;
    list-style-type: none;
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .header-list {
        display: none;
    }
    
}

@media screen and (min-width: 768px) {
    .header-list {
        margin-right: 118px;
    }

}

@media screen and (min-width: 1200px) {
    .header-list {
        margin-right: 332px;
    }

}

.header-list .item:not(:last-child) {
    margin-right: 40px;
}

.header-list-contact {
    display: flex;
    list-style-type: none;
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .header-list-contact {
        display: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .header-list-contact {
        flex-direction: column;
    }

}

.nav-link {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: var(--main-text-color); 
    
    padding-top: var(--card-set-gap);
    padding-bottom: var(--card-set-gap);

    transition-property: color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--brand-color);
}

.current-page {
    position: relative;

    color: var(--brand-color);
}

.current-page::after {
    content: "";
    
    position: absolute;
    left: 0;
    bottom: 0;
    
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

@media screen and (min-width: 1200px) {
    .main-contact:not(:last-child) {
        margin-right: 40px;
    }

}

@media screen and (min-width: 768px) {
    .main-contact:not(:last-child) {
        margin-bottom: 4px;
    }

}

.contact {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--descr-text-color);
    text-decoration: none;
    
    padding-top: var(--card-set-gap);
    padding-bottom: var(--card-set-gap);

    transition-property: color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .contact {
        padding: 0;
    }

}

.contact:hover,
.contact:focus {
    color: var(--brand-color);
}

/* Mobile-Menu */

.mobile-menu-open {
    margin-left: auto;
    padding: 0;

    background-color: transparent;
    border: none;
}

@media screen and (min-width: 768px) {
    .mobile-menu-open {
        display: none;
    }
    
}



/* MAIN */

/* SECTION Effective Solutions for Your Business  */

.hero {
    max-width: 428px;
    height: 432px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(46,47,66,0.7), rgba(46, 47, 66, 0.7)),
    url("../images/bgd-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--main-text-color);
    background-position: center;

    padding: 112px 0;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        height: 436px;
        padding: 112px 0 0 108;
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        max-width: 1440px;
        height: 603px;
        padding: 188px 0;
        text-align: center;
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--light-text-color);
    margin-bottom: 72px;

    max-width: 492px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-weight: 600;
        font-size: 56px;
        line-height: 1.07;
        max-width: 494px;
        margin-bottom: 40px;
    }    
}

@media screen and (min-width: 1200px) {
    .hero-title {
        font-size: 56px;
        margin-bottom: 48px;
    }
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--light-text-color);
    background-color: var(--brand-color);
    border: none;
    cursor: pointer;

    min-width: 169px;
    text-align: center;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition-property: background-color, box-shadow;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);

}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--btn-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* SECTION Our principles */

.principles {
    padding: 96px 0;
}

@media screen and (min-width: 1200px) {
    .principles {
        padding: 120px 0;
    }
}

.principles h2 {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.prin-list {
    display: block;
    list-style-type: none;
}

@media screen and (min-width: 768px) {
    .prin-list {
        display: flex;
        flex-wrap: wrap;
        margin: -12px;
    }
}

.prin-list li {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .prin-list li {
        width: calc((100% - 2 * 24px) / 2);
        margin: 12px;
    }
}

@media screen and (min-width: 1200px) {
    .prin-list li {
        width: calc((100% - 4 * 24px) / 4);
        margin: 12px;
    }
}

@media screen and (max-width: 767px) {
    .prin-list li:not(:last-child) {
        margin-bottom: 72px;
    }
}

.prin-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}

@media screen and (max-width: 767px) {
    .prin-title {
        display: block;
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .prin-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;

        margin-bottom: 8px;
    }
}

.prin-bkg {
    display: none;
}

@media screen and (min-width: 1200px) {
    .prin-bkg {
        display: flex;
        height: 112px;
        justify-content: center;
        align-items: center;
        background-color: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
    }
}

.icon-prin {
    display: none;    
}

@media screen and (min-width: 1200px) {
    .icon-prin {
        display: block;
        width: 64px;
        height: 64px;
    }
}

.prin-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--descr-text);
}

@media screen and (min-width: 1200px) {
    .prin-desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: var(--descr-text);
    }
}

/* SECTION What are we doing */

.work {
    padding-top: 120px;
    padding-bottom: 120px;
}

@media screen and (max-width: 1199px) {
    .work {
        display: none;
    }
}

.work-title {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
}

.work-list {
    display: flex;
    list-style-type: none;
}

.work-list :not(:last-child) {
    margin-right: var(--card-set-gap);
}

/* SECTION Our Team */

.team {
    text-align: center;
    background-color: var(--bgrd-color);
    padding-top: 96px;
    padding-bottom: 128px;
}

@media screen and (min-width: 768px) {
    .team {    
        padding-bottom: 104px;
     }
}

@media screen and (min-width: 1200px) {
    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.container-tablet {
    width: 100%;
    justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container-tablet {
        max-width: 552px;
        margin: 0 auto;
        
    }
}

.team-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11; 
    margin-bottom: 72px;
}

.team-list {
    display: block;
    list-style-type: none;
}

@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        margin: -12px;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team-list {
        max-width: 552px;
    }
}

.team-card {
    width: 260px;
    background-color: var(--light-text-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
    .team-card {
        margin: 0 auto;
    }

    .team-card:not(:last-child) {
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 768px) {
    .team-card {
        max-width: calc((100% - 2 * 24px) / 2);
        margin: 12px;    
    }
}

@media screen and (min-width: 1200px) {
    .team-card {
        width: calc((100% - 4 * 24px) / 4);
        margin: 12px;
    }
}

.card-descr {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.team-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.team-desc {
    font-size: 16px;
    line-height: 1.5;
    color: var(--descr-text);
    margin-bottom: 8px;
}

.icon-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between; 
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color);
    border-radius: 50%;
    color: var(--bgrd-color); 
    width: 40px;
    height: 40px;

    transition-property: background-color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.icon-link:focus,
.icon-link:hover {
    background-color: var(--btn-hover-color);
}



/* SECTION CUSTOMERS */

.castomers {
    padding: 96px 0;
}

@media screen and (min-width: 1200px) {
    .castomers {
        padding: 120px 0;    
    }
    
}

@media screen and (min-width: 1200px) {
    .conteiner-cust {
        flex-direction: column;
    }
    
}

.customers-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 72px;
    text-align: center;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: -36px -8px;
}

@media screen and (min-width: 768px) {
    .customers-list {
        margin: -36px -12px; 
    }
}

@media screen and (min-width: 1200px) {
    .customers-list {
        margin: -12px;
    }
}

.customers-list>li {
    width: calc((100% - (2 * 16px)) / 2);
    margin: 36px 8px;  
}

@media screen and (min-width: 768px) {
    .customers-list>li {
        width: calc((100% - (3 * 24px)) / 3);
        margin: 36px 12px;
    }
}

@media screen and (min-width: 1200px) {
    .customers-list>li {
        width: calc((100% - (6 * 24px)) / 6);
        margin: 12px;
    }
}

.custom-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-customer-color);
    border-radius: 4px;
    height: 88px;  
    
    transition-property: border-color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.custom-link:hover {
    border-color: var(--brand-color);
}

.custom-link:hover .custom-logo {
    fill: var(--brand-color);
}

.custom-logo {
    fill: var(--border-customer-color);

    transition-property: fill;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

/* FOOTER */

footer {
    background-color: var(--main-text-color);
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
    footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }  
}

.container>div {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .logo-container {
        max-width: 552px;
        margin: 0 auto;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .logo-container {
        margin-bottom: 112px;
    }
    
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
    .container>div{
        max-width: 552px;
        margin-left: auto;
        margin-right: auto;
    }
    
}

.footer-logo {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
    color: var(--light-text-color);
    margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
    .footer-logo {
        display: block;
        text-align: center;
    }
}

.footer-desc {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--footer-text-color);
}

@media screen and (max-width: 767px) {
    .footer-desc {
        margin-bottom: 72px;
    }
}

.social-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-text-color);
    margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
    .social-title {
        text-align: center;
    }
}

.icon-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    color: var(--bgrd-color);
    width: 40px;
    height: 40px;

    transition-property: background-color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.icon-list-footer {
    display: flex;
    list-style-type: none;
}

.icon-list-footer>li {
    margin-right: 16px;
}

.icon-list-footer>li:last-child {
    margin-right: 0;
}

.logo-group {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 112px;
}

@media screen and (min-width: 768px) {
    .logo-group {
        margin-left: 24px;
        margin-right: 0;
        margin-bottom: 0;
    }
}

.icon-footer:hover,
.icon-footer:focus {
    background-color: #31D0AA;
}

.subscribe-form {
    display: flex;
    align-items: center;

    margin-right: 0;
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .subscribe-form {
        display: block;
        width: 100%;
        margin: 0;
    }    
}

@media screen and (max-width: 1199px) {
    .subscribe-form {
        margin: 0;
    }
}

.subscribe-mail-form {
    display: block;
    position: relative;
}

.subscribe-form input{
    position: relative;

    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.6);

    width: 264px;
    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;

    transition-property: border;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

@media screen and (max-width: 767px) {
    .subscribe-form input {
        width: 100%;
        margin-bottom: 16px;
    }
}

.subscribe-form input:focus-visible {
    outline: transparent;
    border: 1px solid var(--brand-color);
}

.subscribe-descr {
    position: absolute;
    top: -16px;
    left: 0;
    transform: translateY(-100%);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--light-text-color);
}

@media screen and (max-width: 767px) {
    .subscribe-descr {
        left: 50%;
        top: -40px;
        transform: translateX(-50%);
    }
}

.subscribe-btn {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    background: var(--brand-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 24px;

    transition-property: background-color, box-shadow;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);    
}

@media screen and (max-width: 767px) {
    .subscribe-btn {
        margin: 0 auto;
    }
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: var(--btn-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--light-text-color);
}

.subscribe-btn > span {
    margin-right: 16px;
}


/* BACKDROP */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;

    transition-property: opacity;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    min-width: 408px;
    min-height: 576px;
    padding: 24px;

    background-color: var(--backdrop-background);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition-property: transform;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

@media screen and (max-width: 767px) {
    .modal {
        min-width: 392px;
        padding: 16px;
    }
    
}

.icon-close {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition-property: background, border;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.icon-close > svg {
    fill: #000000;

    transition-property: fill;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.icon-close:active,
.icon-close:hover {
    background: #404BBF;
    border: 1px solid #404BBF;
}

.icon-close:active,
.icon-close:hover > svg {
    fill: #ffffff;
}

.callback {
    display: block;
    margin-top: 48px;

}

.callback-header {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-text-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
}

.callback-form-group {
    display: block;
}

.callback-form {
    display: block;
    position: relative;
}

.callback-descr {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    color: var(--border-customer-color);
}

.callback-name {
    display: block;  
    width: 100%;
    height: 40px;
    padding-left: 38px;
    margin-bottom: 8px;

    font-weight: 400;
    font-size: 18px;
    color: var(--main-text-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.callback-name:focus-visible {
    outline: transparent;
    border: 1px solid var(--brand-color);
}

.callback-icon {
    position: absolute;
    left: 25px;
    bottom: 20px;
    
    transform: translate(-50%, 50%);


    fill: var(--main-text-color);

    transition-property: fill;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.callback-name:focus-visible + .callback-icon {
    fill: var(--brand-color);
}

.callback-form-agreement {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.callback-message {
    display: block;
    width: 100%;
    padding: 8px 16px;
    margin-bottom: 16px;
    resize: none;
    
    font-weight: 400;
    font-size: 18px;
    color: var(--main-text-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    
    transition-property: border;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.callback-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    color: rgba(117, 117, 117, 0.5);
}

.callback-message:focus-visible {
    outline: transparent;
    border: 1px solid var(--brand-color);
}

.callback-form-checkbox {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--main-text-color);
    border-radius: 2px;
}

.callback-form-checkbox:checked {
    background-image: url("../images/icon/click.svg");
    background-repeat: no-repeat;
    background-position: center;

    background-color: var(--btn-hover-color);
    border: 1.25px solid var(--btn-hover-color);
}

.callback-form-text {
    display: block;
    margin-left: 8px;
    user-select: none;

    font-size: 12px;
    line-height: 1.33px;
    color: #757575;
}

.callback-form-link {
    color: var(--brand-color);
}

.callback-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    
    padding: 16px 32px;
    background: var(--brand-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
        
    transition-property: background-color, box-shadow;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}
    
    
.callback-btn:hover,
.callback-btn:focus {
    background-color: var(--btn-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.callback-text {
    min-width: 105px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--light-text-color);
}





/* portfolio */

/* MAIN */

.section-filter {
    padding-top: 96px;
    padding-bottom: 120px;
}

.section-filter h1 {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.filter {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}
.filter :not(:last-child) {
    margin-right: var(--card-set-gap);
}

.btn-active {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: var(--light-text-color);
    background-color: var(--brand-color);
    border: none;
    cursor: pointer;

    padding: 12px 24px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    transition-property: background-color, box-shadow;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.btn-active:hover,
.btn-active:focus {
    background-color: var(--btn-hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color);
    background-color: var(--bgrd-color);
    border: none;
    cursor: pointer;

    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

    transition-property: color, background-color, box-shadow, border;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--light-text-color);
    background-color: var(--brand-color);
    border: 1px solid var(--brand-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.port-list {
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    margin-top: -48px;
    margin-left: -24px;
    
}

.port-card {
    flex-basis: calc (100% / 3 - var(--card-set-gap));
    margin-top: 48px;
    margin-left: var(--card-set-gap);
    border-bottom: 0.5px solid var(--bgrd-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

    transition-property: box-shadow;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.port-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.port-link {
    display: block;
    text-decoration: none;    
}

.port-img {
    position: relative;

    overflow: hidden;
}

.port-overlay {
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4D5AE5;
    background-blend-mode: soft-light;
    mix-blend-mode: normal;

    transform: translateY(100%);
    
    transition-property: transform;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.port-overlay p {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--bgrd-color);
}

.port-link:hover .port-overlay,
.port-link:focus .port-overlay {
    transform: translateY(0);
}

.card-content {
    padding: 32px 16px;
}

.port-title {
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-text-color); 
}

.port-desc {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--descr-text-color);

    margin-top: 8px;
}

/* Mobile menu */

.menu-container {
    display: flex;
    flex-direction: column;

    padding: 80px 40px 40px 40px;
    list-style: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: var(--bgrd-color);
    z-index: 999;

    transform: translateX(100%);

    transition-property: transform;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

@media (min-width: 767px) {
    .menu-container {
        display: none;
    }
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-toggle {
    position: absolute;
    top: 40px;
    right: 40px;

    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition-property: background, border;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);

}

.menu-toggle>svg {
    fill: #000000;

    transition-property: fill;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.menu-toggle:active,
.menu-toggle:hover {
    background: #404BBF;
    border: 1px solid #404BBF;
}

.menu-toggle:active,
.menu-toggle:hover>svg {
    fill: #ffffff;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.mobile-menu {
    margin-bottom: auto;
    list-style: none;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-link {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-decoration: none;
    color: var(--main-text-color);
       
    transition-property: color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: var(--brand-color);
}

.menu-current-page {
    color: var(--brand-color);
}

.menu-header-list {
    display: block;
    list-style: none;

    margin-bottom: 48px;
}

.mobile-contact:not(:last-child) {
    margin-bottom: 40px;
}

.menu-contact {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--descr-text-color);
    text-decoration: none;

    transition-property: color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.menu-contact:hover,
.menu-contact:focus {
    color: var(--brand-color);
}

.menu-contact-main {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    color: var(--brand-color);
}

.icon-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color);
    
    border-radius: 50%;
    color: var(--bgrd-color);
    width: 40px;
    height: 40px;

    transition-property: background-color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.icon-list-menu {
    display: flex;
    list-style-type: none;
}

.icon-list-menu>li:not(:last-child) {
    margin-right: 56px;
}

.icon-menu:hover,
.icon-menu:focus {
    background-color: #31D0AA;
}